body, html{
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: hidden;
    
}

#nav-container{
    position: fixed;
    top: 0;
    padding-left: 50;
    padding-right: 50;
    z-index: 20;
    height: 80px;
}
.navbar{
    padding-left: 0px;
    height: 80px;

}
.navbar-nav{
    position: absolute;
    right: 0;
    padding-right: 100px;
    transition: 1s;
}
.nav-link{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 800;
    font-size: 15px;
}
.nav-link:hover{
    transform-origin: center;
    color: rgb(21,96,189);
    transition: all 0.3s;
}
#nav-container, #nav-container:hover, #nav-container:focus{
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0));
}
#nav-container.active{
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0));
    
}
#nav-container.active .nav-item a{
    color: white;
}

.container0, .container1, .container3, .container4{
    width: 100%;
    position: relative;
}
.container1{
    height: 720px;
}
.parallax1{
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 5px;
}
.parallax1-cover{
    position: absolute;
    top: 0;
    left: 0;  
}
.parallax1-cover,.parallax2-cover, .parallax3-cover{
    height: 100%;
    width: 100%;
    z-index: 10;
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.452), black);

}
.heading1{
    font-family: 'Work Sans', sans-serif;
    font-size: 70px;
    position: absolute;
    font-weight: 900;
    color: white;
    top: 280px;
    left: 110px;
    
}
.heading1.active11{
    animation: head11 0.5s both;
    z-index: 20;
    position: fixed;
}
.heading1.active12{
    animation: head12 0.5s both;
    z-index: 20;
    position: absolute;
}
.heading2{
    font-family: 'Work Sans', sans-serif;    
    color: white;
    font-weight: 300;
    font-size: 25px;
    position: absolute;
    top: 390px;
    left: 50%; transform: translatex(-50%);

    z-index: 90;
}
.heading2.active21{
    animation: head21 0.5s both;
}
.heading2.active22{
    animation: head22 0.5s both;
}

.container2{
    height: 2150px;
    background-color: black;
    padding-top: 100px;
}
#about-text{
    font-family: 'Work Sans', sans-serif;    
    color: white;
    font-weight: 300;
    font-size: 20px;
}
#text1{
    margin: 0;
    padding: 0;
    width: 50%;
    position: relative;
    left: 15%;
     
}
#text2{
    margin: 0;
    padding: 0;
    width: 50%;
    position: relative;
    top: -535px;
    left: 40%;
    
}
#text3{
    margin: 0;
    padding: 0;
    width: 70%;
    position: relative;
    left: 15%;
    padding-top: 80px;
}
#img1{
    position: relative;
    top: -500px;
    right: -1050px;
    margin-right: 10%;
    margin-top: 5%;   
}
#img2{
    position: relative;
    top: -300px;
    left: 15%;
        
}
#product-heading1{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 5px;
    position: relative;
    top: -50px;
}
#product-heading2{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 5px;
    z-index: 10;
    position: relative;
    top: 40px;
}
#product-heading3{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 5px;
    z-index: 10;
    position: relative;
    top: -40px;
}

.divide{
    height: 5px;
    
    border-radius: 3px;
    background-color: rgb(0, 47, 255);
    margin-bottom: 35px;
    margin-top: 5px;
}
#divide1{
    position: relative; top: -50px;width: 150px;
}
#divide2{
    position: relative; top: 40px;
    width: 180px;
}
#divide3{
    position: relative; top: 40px;
    width: 90px;
}
#divide4{
    position: relative; top: -40px;
    width: 400px;
}
.carousel .carousel-item {
    height: 500px;
}
.carousel{
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    width: 700px;

}
.carousel-item img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    max-height: 600px;
}


.container3{
    display: block;
    height: 720px;
    position: relative;
    z-index: -11;
}
.container4{
    position: relative;
    display: block;
    height: 700px;
}
.parallax2, .parallax3{
    margin: 0;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    position: relative;
    top: 0;
    left: 0;
}
.parallax2{
    background-image: url(5.jpg);
}
.parallax3{
    background-image: url(7.jpg);
}
.parallax3-cover, .parallax2-cover{
    position: relative; top: -720px;
    z-index: -1;
}
.parallax3-cover{
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  
}


.blog-box{
    position: relative;
    top: 40px;
    height: 170px;
    width: 300px;
    background-size: cover;
    background-position: center;
    margin: 30px ;
    display: inline-flex;
    z-index: 0;
    transition: 1s;
}
.blog-head{
    height: 70px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.514);
    position: relative;
    top: 100px;
    padding-top: 4px;
}
#blog-text1{
    font-family: 'Work Sans', sans-serif;    
    color: whitesmoke;
    font-weight: 500;
    font-size: 24px;
}
#blog-text2{
    font-family: 'Work Sans', sans-serif;    
    color: whitesmoke;
    font-weight: 500;
    font-size: 15px;
}
#blog1{
    background-image: url(blog1.jpg);
}
#blog2{
    background-image: url(blog2.jpg);
}
#blog3{
    background-image: url(blog3.jpg);
}
#blog4{
    background-image: url(blog4.jpg);
}

.container5{
    height: 370px;
    background-color: rgba(0, 0, 0, 0.973);
    overflow: hidden;
}
/*contact us*/
.contact-us{
    width: 430px;
    position: relative;
    left: 10%;
}
.login-box{
    position: relative;
    animation: loginBoxAnim 2s 0.5s both;
     
}
.inp{
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 45px;
    width: 300px;
    padding: 10px;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    background-color: rgba(51, 51, 51, 0.212);
    color: white;
    border-bottom: rgba(255, 255, 255, 0.329) solid  ;
    z-index: 33;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

#inp-label, #msg-label{
    color: white;
    position: relative;
    top: 0px;
    left: -293px;
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
    opacity: 50%;
    z-index: 0;
    transition: 0.5s;
}
#msg-label{
    top: -50px;
    left: -293px;
}
.inp:focus{
    transition: 1s;
    outline: none;
    border-bottom:  rgb(0, 47, 255) solid  ;
}
.inp:focus + #inp-label, .inp:valid + #inp-label{
    transition: 0.5s;
    opacity: 100%;
    top: -31px;
    font-size: 13px;
    color:  rgb(0, 47, 255);
}

.inp:focus + #msg-label, .inp:valid + #msg-label{
    transition: 0.5s;
    opacity: 100%;
    top: -100px;
    font-size: 13px;
    color:  rgb(0, 47, 255);
}

.botton{
    height: 35px;
    width: 100px;
    border-style: solid;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.329);
    color: rgba(255, 255, 255, 0.849);
    margin-top: 0px;
    font-family: 'Spartan', sans-serif;
    transition: 0.5s;
}
.botton:focus{
    background-color:rgb(0, 204, 255) ;
    color: black;
    border-style: solid;
    border-color: rgb(0, 0, 100);
    outline: none;
    animation: color 1s forwards;
    box-shadow: blue -3px -3px 20px inset;
}

/*Social Media*/
.social{
    display: inline-flex;
    position: relative;
    top: -785px;
    left: 81%;
    animation: name2 2.5s 1s;
    animation-fill-mode: both;
}
.social-list{
    list-style: none;
    position: relative;
    top: 0px;
    
}
.gmail, .github,.linkedin,.instagram, .facebook{
  background-color: rgb(80, 80, 80);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-width: 0px;
  margin: 10px;
  padding: 0;
  transition: all .5s;
  outline: none;
  color: whitesmoke;
}
#phone{
    transform: rotate(-30deg);
}
.gmail:focus,.github:focus,.linkedin:focus,.instagram:focus, .facebook:focus{
  outline: none;
}
.gmail:hover{
  background-color: #B23121;
  animation: social-jump 0.7s;
}
.github:hover{
  background-color: black;
  animation: social-jump 0.7s;
}
.linkedin:hover{
  background-color: #0077b5;
  animation: social-jump 0.7s;
}
.instagram:hover{
  background-color: #C13584;
  animation: social-jump 0.7s;
}
.facebook:hover{
  background-color: #3b5998; 
  animation: social-jump 0.7s;
}


/*Copyright*/
.container6{
    height: 25px;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.973);;
    text-align: right;
    padding-right: 20px;
    color: grey;
    font-size: smaller;
}


/**Members Slide*/
.hi-slide { 
    position: relative; width: 754px; height: 292px; margin: 115px auto 0; }
  
  .hi-slide .hi-next, .hi-slide .hi-prev
    { 
      position: absolute;
      top: 50%; 
      width: 40px;
      height: 40px; 
      margin-top: -20px;     
        border-radius: 50px;    
      line-height: 40px;
      text-align: center; 
      cursor: pointer;
      background-color: #fff; 
      color: black;               
      transition: all 0.6s;
      font-size: 20px; 
        font-weight: bold;
  }
 .hi-slide .hi-next:hover, 
  .hi-slide .hi-prev:hover 
  {
    opacity: 1; 
    background-color: #fff;  
  }
  
 .hi-slide .hi-prev { left: -60px; }
  
.hi-slide .hi-prev::before 
{ content: '<'; 
}
.hi-slide .hi-next { 
    right: -60px; 
}
.hi-slide .hi-next::before { 
    content: '>'; 
}

  .hi-slide > ul
          { 
              list-style: none; 
              position: relative;
              width: 754px; 
              height: 292px; 
              margin: 0;
              padding: 0;
  }
  
  
.hi-slide > ul > li {
  overflow: hidden; 
  position: absolute; 
  z-index: 0; 
  left: 377px;
  top: 146px; 
  width: 0; 
  height: 0; 
  margin: 0; 
  padding: 0;
  border: 3px solid #fff;              
  background-color: #333; 
  cursor: pointer; }
  
.hi-slide > ul > li > img { 
width: 100%; 
height: 100%; 
background-position: center;
}



@keyframes head11{
    0%{
        transform: translate(0px,-200px)
    }
    100%{
        transform: translate(-360px,-294px) scale(0.4);
        transform-origin: center;
        
    }
}
@keyframes head12{
    100%{
        transform: scale(1);
        transform-origin: center;    
    }
}
@keyframes head21{
    100%{
        opacity: 0%;
    }
}
@keyframes head22{
    100%{
        opacity: 100%;
    }
}
@keyframes social-jump{
    16%{
        transform: translateY(-6px);
    }
    32%{
        transform: translateY(0px);
    }
    48%{
        transform: translateY(-4px);
    }
    64%{
        transform: translateY(0px);
    }
    80%{
        transform: translateY(-2px);
    }
    96%{
        transform: translateY(0px);
    }
}